.payment {
    background-color: white;
}

.payment__container>h1 {
    text-align: center;
    padding: 10px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.payment__container>h1 a {
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid darkgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address,
.payment__items,
.payment__details {
    flex: 0.8;
}

.payment__details > form > div > button {
    background: goldenrod;
    border: 1px solid;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
}

.payment__priceContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}